.ui.comments
	h3.ui.dividing.header Comments
	.comment
		a.avatar
			img(src="/images/image.png")
		.content
			a.author Matt
			.metadata
				span.date Today at 5:42PM
			.text
				| How artistic!
			.actions
				a.reply Reply
	.comment
		a.avatar
			img(src="/images/image.png")
		.content
			a.author Elliot Fu
			.metadata
				span.date Yesterday at 12:30AM
			.text
				p This has been very useful for my research. Thanks as well!
			.actions
				a.reply Reply
		.comments
			.comment
				a.avatar
					img(src="/images/image.png")
				.content
					a.author Jenny Hess
					.metadata
						span.date Just now
					.text
						| Elliot you are always so right :)
					.actions
						a.reply Reply
	.comment
		a.avatar
			img(src="/images/image.png")
		.content
			a.author Joe Henderson
			.metadata
				span.date 5 days ago
			.text
				| Dude, this is awesome. Thanks so much
			.actions
				a.reply Reply
