#footer-content.ui.grid
	#main-row-footer.row
		.sixteen.wide.computer.sixteen.wide.mobile.column
			.footer-div
				button.ui.button INSTAGRAM
					i(class="fab.fa-instagram")
			.footer-div
				button.ui.button SUBMIT A RECIPE 
					i(class="fas fa-arrow-alt-circle-right")
			.footer-div
				button.ui.button CONTACT 
					i(class="fas fa-envelope")

script(src="/javascripts/jQuery-3.4.1.min.js")
script(src="/javascripts/semantic.js")
script(src="/javascripts/fuzzysort.js")
script(src="https://kit.fontawesome.com/94bad9d91e.js")