div(class="Footer-content")
			div(class="indexfooterdiv")
				button(class="ui button") INSTAGRAM 
					i(class="fab fa-instagram")
			div(class="indexfooterdiv")
				button(class="ui button") SUBMIT A RECIPE 
					i(class="fas fa-arrow-alt-circle-right")
			div(class="indexfooterdiv")
				hbutton(class="ui button") CONTACT 
					i(class="fas fa-envelope")

script(src="/javascripts/jQuery-3.4.1.min.js")
script(src="/javascripts/semantic.js")
script(src="/javascripts/fuzzysort.js")
script(src="https://kit.fontawesome.com/94bad9d91e.js")