#site-footer-content.ui.grid
	#main-row-footer.row
		.sixteen.wide.computer.sixteen.wide.mobile.column
			p#footer-text Fridgemama 201x - 201x | 
				a Contact Us

script(src="/javascripts/jQuery-3.4.1.min.js")
script(src="/javascripts/semantic.js")
script(src="/javascripts/fuzzysort.js")
script(src="/javascripts/various.js")
script(src="https://kit.fontawesome.com/94bad9d91e.js")