div(class="Footer-content")
				h1(class="ui header footer") INSTAGRAM
			div(class="two wide center aligned column")
				h1(class="ui header footer") SUBMIT
			div(class="two wide center aligned column")
				h1(class="ui header footer") STUFF

script(src="/javascripts/jQuery-3.4.1.min.js")
script(src="/javascripts/semantic.js")
script(src="/javascripts/fuzzysort.js")
