div(class="ui four wide computer one wide mobile stackable center aligned grid imagegallery")
	each url in recipe.images
		div(class="four wide column")
			img(class="ui image galleryimage" src=url)
	else
		h1(class="ui header") NO IMAGES :(
