div(class="ui stackable grid")
	div(class="four wide column")
		img(class="ui image galleryimage" src="/images/image.png")
	div(class="four wide column")
		img(class="ui image galleryimage" src="/images/image.png")
	div(class="four wide column")
		img(class="ui image galleryimage" src="/images/image.png")
	div(class="four wide column")
		img(class="ui image galleryimage" src="/images/image.png")
