div(class="ui stackable grid imagegallery")
	div(class="four wide column")
		img(class="ui image galleryimage" src="/images/image.png")
	div(class="computer only four wide column")
		img(class="ui image galleryimage" src="/images/image.png")
	div(class="computer only four wide column")
		img(class="ui image galleryimage" src="/images/image.png")
	div(class="computer only four wide column")
		img(class="ui image galleryimage" src="/images/image.png")
