div(class="ui stackable center aligned grid image-gallery")
	each url, index in recipe.images
		.four.wide.column
			img(class="ui fluid image gallery-image" src=url onClick='openPhotoswipe(' + JSON.stringify(recipe) + ", " + index + ')')
	else
		h1(class="ui header") NO IMAGES :(