doctype html
html
	head
		title= title
		script(src="/javascripts/jQuery-3.4.1.min.js")
		script(src="/javascripts/semantic.js")
		link(rel="stylesheet", href='/stylesheets/semantic.css', type="text/css")

	body