doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href='/stylesheets/semantic.min.css', type="text/css")
		script(src="/javascripts/jQuery-3.4.1.min.js")
		script(src="/javascripts/semantic.min.js")
		script(src="/javascripts/ingredient_search.js")

	body