doctype html
html
	head
		title= title
		script(src="/javascripts/jQuery-3.4.1.min.js")
		script(src="/javascripts/semantic.min.js")
		link(rel="stylesheet", href='/stylesheets/semantic.min.css', type="text/css")

	body