doctype html
html
	head
   		meta(charset="UTF-8")
    	meta(name="viewport" content="width=device-width; initial-scale=1.0;")
		link(rel="stylesheet", href='/stylesheets/semantic.css', type="text/css")
		link(rel="stylesheet", href='/stylesheets/styles.css', type="text/css")

	body(class="Site")