include header

h1= title
p Welcome to #{title}

div(class="ui search")
	div(class="ui icon input")
		input(class="prompt" type="text" placeholder="Search ingredients...")
		i(class="search icon")
	div(class="results")

include footer