include header

#main-content.ui.grid
	#main-row-body.row
		.three.wide.computer.only.column
		.one.wide.tablet.only.column
		.ten.wide.computer.fourteen.wide.tablet.sixteen.wide.mobile.middle.aligned.column
			#logo-row.row
				img#main-logo(src="/images/logo.png")
			#search-row.row
				#search-container
					#main-search-input.ui.huge.input
						input#search-field(type="text" placeholder="Enter an ingredient...")
					form#search-form(action="/results" method="post")
						.ui.input
							input#tag-input(type="text" value="" name="tags")
						input#submit-button.ui.huge.yellow.button(type="submit" value="Find a recipe!")
					#results.ui.middle.aligned.selection.list
					#results-container
						#tags-list.ui.basic.segment
		.one.wide.tablet.only.column
		.three.wide.computer.only.column

include footer
script(src="/javascripts/ingredient_search.js")