include header

div(class="ui grid")
	div(class="row")
		div(class="three wide column")
		div(class="ten wide column" id="maincolumn")
				h2(class="ui center aligned header")
					| Enter some ingredients to begin!
				div(id="searchcontainer")
					div(class="ui huge input" id="mainsearchinput")
						input( type="text" id="searchfield" placeholder="Type something...")
					div(class="ui middle aligned selection list" id="results")

				div(id="resultscontainer")
					div(class="ui basic segment" id="tagslist")
					form(action="/results" method="post")
						div(class="ui input")
							input(type="text" value="" name="tags" id="taginput")
						input(class="ui button" type="submit" value="Find a recipe!" id="submitbutton")



	div(class="three wide column")
	
script(src="/javascripts/ingredient_search.js")

include footer