include header

h1= title
p Welcome to #{title}

div(class="ui container" id="maincontainer")
	input(type="text" id="searchField")
form(action="/results" method="post" id="tagform")
	input(type="text" value="" name="tags" id="taginput")
	input(type="submit" value="Submit")

- for (var x = 0; x < #{results}.length; x++)
	li =results[i]

include footer