include header

div(class="Site-content")
	div(class="ui grid")
		div(class="row")
			div(class="three wide column")
			div(class="ten wide column" id="maincolumn")
				h1(class="ui center aligned header" id="mainlogo") 
					div(id="titletext") FRiDGEMAMA
						div(class="indextitleicon")
						div(class="indextitleicon")
						div(class="indextitleicon")
						div(class="indextitleicon")
						div(class="indextitleicon")
						div(class="indextitleicon")
						div(class="indextitleicon")
						div(class="indextitleicon")

				div(id="searchcontainer")
					div(class="ui huge input" id="mainsearchinput")
						input( type="text" id="searchfield" placeholder="Enter an ingredient...")
					form(action="/results" method="post" id="searchform")
						div(class="ui input")
							input(type="text" value="" name="tags" id="taginput")
						input(class="ui huge yellow button" type="submit" value="Find a recipe!" id="submitbutton")
					div(class="ui middle aligned selection list" id="results")

					div(id="resultscontainer")
						div(class="ui basic segment" id="tagslist")
		div(class="three wide column")

include footer
script(src="/javascripts/ingredient_search.js")