include header

h1= title
p Welcome to #{title}

div(class="ui container" id="maincontainer")
	input(type="text" id="searchField")
form(action="/results" method="post" id="tagform")
	input(type="text" value="" name="tags" id="taginput")
	input(type="submit" value="Submit")

ul
  each val, index in {1:'one',2:'two',3:'three'}
    li= index + ': ' + val
    
include footer