include header

h1= title
p Welcome to #{title}

div(class="ui container" id="maincontainer")
	input(type="text" id="searchField")
form(action="/results" method="post" id="tagform")
	input(type="text" value="" name="tags" id="taginput")
	input(type="submit" value="Submit")

- if (results) {
	for (var i = 0; i < 10; ++i) {
 	li= array[i]
 	}
- }

include footer