include header
link(rel="stylesheet", href='/stylesheets/results_styles.css', type="text/css")
include headerend

#main-content.ui.center.aligned.grid
	#main-body-row.row
		.three.wide.computer.only.column
		.one.wide.tablet.only.column
		.ten.wide.computer.fourteen.wide.tablet.sixteen.wide.mobile.column
			h1(id="results-main-logo") FRiDGEMAMA FOUND . . .
			h2(class="ui left aligned header" id="number-found-header")
				span(id="num-results")= results.length

				|  results that contain those ingredients!

			.ui.grid.results-grid
				each recipe in results
					.row.result-row
						a(href="/recipe/" + recipe.id)
							.ui.grid.result-grid
								.row.summary-row
									.two.wide.middle.aligned.column.image-column
										img.ui.small.centered.image(src="/images/image.png")
									.fourteen.wide.middle.aligned.column
										.row.recipe-name-row
											.column
												.recipe-name
													= recipe.name
												.recipe-time
													i.fas.fa-clock
													p
														|  45 MINS
										.row.recipe-notes-row
											.column
												.recipe-notes
													each ingredient in recipe.ingredients
														button.ui.tiny.button.ingredient-button= ingredient.name
				else
					div(class="ui segment" id="noresultsdiv") 
						h1(class="ui header") Sorry :(
					div(id="indexlink")
						a.back-link(href="/") Go back
		.one.wide.tablet.only.column
		.three.wide.computer.only.column

include footer
