include header
	link(rel="stylesheet", href='/stylesheets/search_bar_styles.css', type="text/css")
	link(rel="stylesheet", href='/stylesheets/results_styles.css', type="text/css")
include headerend

#site-content.ui.grid
	.two.wide.computer.only.column
	.twelve.wide.computer.fourteen.wide.tablet.sixteen.wide.mobile.column.centre-column
		.ui.grid.content-grid


			.ui.center.aligned.grid.result-content-grid
				.row.results-found-row
					h2.ui.header.found-header FRiDGEMAMA FOUND . . .
				.row.results-number-row
					h3.ui.header.number-found-header
						span.results-count= results.length
						|  results that contain those ingredients!
				include searchbar
				.ui.grid.results-grid
					.row.filter-row
						.right.aligned.column
							include result_filter
					each recipe in results
						.row.result-row
							.ui.grid.result-grid
								.row.summary-row
									.three.wide.column.image-column
										a(href="/recipe/" + recipe.id)
											img.ui.image(src="/images/burger01.jpg")
									.thirteen.wide.middle.aligned.column.info-column
										.row.recipe-name-row
											.recipe-name
												a(href="/recipe/" + recipe.id)
													= recipe.name
										.row.recipe-ingredient-tags-row
											each ingredient in recipe.ingredients
												button.ui.tiny.button.ingredient-tag-button= ingredient.name
										.ui.divider.result-divider
										.row.recipe-notes-row
											button.ui.tiny.button.recipe-note-button 45 MINS
											button.ui.tiny.button.recipe-note-button EASY

					else
						div(class="ui segment" id="noresultsdiv") 
							h1(class="ui header") Sorry :(
						div(id="indexlink")
							a.back-link(href="/") Go back
	.two.wide.computer.only.column

include footer
script(src="/javascripts/ingredient_search.js")