#search-row.row
	#search-container
		#main-search-input.ui.huge.input
			input#search-field(type="text" placeholder="Enter an ingredient...")
		form#search-form(action="/results" method="post")
			.ui.input
				input#tag-input(type="text" name="tags" value=tagstring)
			input#submit-button.ui.huge.yellow.button(type="submit" value="Find a recipe!")
		#results.ui.middle.aligned.selection.list
		#results-container
			#tags-list.ui.basic.segment
				each tag in tags
					.ui.blue.button.tag-button= tag
						i.fas.fa-times(onclick="removeTag(this)")