include header
	link(rel="stylesheet", href='/stylesheets/submit_styles.css', type="text/css")
include headerend

#site-content.ui.grid
	.two.wide.computer.only.column
	.twelve.wide.computer.fourteen.wide.tablet.sixteen.wide.mobile.column.centre-column
		.ui.grid.content-grid
			h1.ui.header Submit
	.two.wide.computer.only.column

include footer