.utils
	button.ui.tiny.button.util-button 
		span
			| Like 
			i.fas.fa-heart
	button.ui.tiny.button.util-button 
		span
			| Favourite 
			i.fas.fa-star
	button.ui.tiny.button.util-button 
		span
			| Open 
	button.ui.tiny.button.util-button 
		span
			| Open in new tab 
			i.fas.fa-sticky-note