@font-face {
    font-family: 'Starborn';
    src: url('/fonts/Starborn.ttf') format('truetype');
}

@font-face {
    font-family: 'To-japan';
    src: url('/fonts/To Japan.ttf') format('truetype');
}

@font-face {
    font-family: 'Timoteo';
    src: url('/fonts/Timoteo.ttf') format('truetype');
}

@font-face {
    font-family: 'Swallow Falls';
    src: url('/fonts/Swallow Falls.ttf') format('truetype');
}

@font-face {
    font-family: 'German Beauty';
    src: url('/fonts/German Beauty.ttf') format('truetype');
}

@font-face {
    font-family: 'Techna';
    src: url('/fonts/TechnaSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Bebas';
    src: url('/fonts/Bebas-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Palanquin-Bold';
    src: url('/fonts/Palanquin-Bold.ttf') format('truetype');
}
