/* Footer content */

#footer-content {
    background-image: url(/images/tile02.png);
    border-top: 5px solid #fffde2;
    text-align: center;
}

#main-row-footer {
    margin: 0;
    padding: 0.3rem;
    padding-bottom: 0.trem;
}

#footer-text {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1rem;
    /*text-shadow: 1px 1px 1px #d9aa47;*/
    color: #915c31;
    letter-spacing: -0.054rem;
}

/*TABLET STYLES*/
@media only screen and (max-width: 992px) {

}

/*MOBILE STYLES*/
@media only screen and (max-width: 768px) {

    .footer-div {
        margin: 0px 5px;
    }

    #footer-text {

    }

}