/* INDEX CONTAINER STYLING */

/* Index page*/
#blurb-row {
    text-align: center;
}

#blurb-row h3 {
    /*height: 200px;*/
    font-family: To-japan;
    font-size: 1.7rem;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 1px #97c8ff;
}

/*Search bar result style*/
#results-container {
    position: absolute;
    z-index: 1;
    margin-top: 16px;
    margin-bottom: 100px;
    width: 100%;
}

/*TABLET STYLES*/
@media only screen and (max-width: 991px) {
    #blurb-row h3 {
        font-size: 1.5rem;
    }


    #search-field {
        font-size: 0.8rem;
    }

    #submit-button {
        font-size: 0.8rem;
    }

}

/*MOBILE STYLES*/
@media only screen and (max-width: 768px) {
    #blurb-row h3 {
        font-size: 1.2rem;
    }

    #search-field, #submit-button {
        border-radius: 15px;
    }

    #search-field {
        margin-bottom: 5px;
    }

    .tagbutton.ui.button {
    font-size: 0.6rem;
    }

    #tags-list {
        width: 100%;
    }

}