
/*Results page*/

#main-body-row {
    padding-top: 0px;
}

#results-main-logo {
	font-family: To-japan;
	font-size: 1.7rem;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 1px #97c8ff;
    margin-bottom: 8px;
    padding-top: 50px;
}

#number-found-header {
	color: #ff5a5a;
	margin-top: 0px;
    font-size: 1.4rem;
    font-family: To-japan;
    text-align: center;
}

#num-results {
    /*color: #f64545;*/
}

/* Result contaners */

.ui.grid > .row.result-row {
    background: #ffffff94;
    margin-top: 15px;
    padding: 0px;
    border-radius: 5px;
}

.ui.grid > .row.summary-row {
    background: transparent;
    transition: 0.3s all;
    padding: 0px;
}

.ui.grid > .row.summary-row:hover {
    background: #ffffffe6;
    box-shadow: 1px 1px 1px #add7e5;
}

.ui.grid > .row.summary-row-clicked {
    background: #ffffffd4;
    box-shadow: 1px 1px 1px #add7e5;
    padding: 0px;
}

.ui.grid > .row.expanding-row {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: 1s all;
    padding: 0px;
}

.row.expanding-row .ui.grid {
    margin: 0;
    width: 100%;
}

.ui.grid.result-grid {
    margin: 0;
}

.ui.grid .row.utils {
    padding: 0;
    padding-top: 13px;
    padding-left: 15px;
}

/* Result styles */

.recipe-rating {
    position: absolute;
    right: 0px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
}

.recipe-time p {
    display: inline;
    font-family: Lato-bold;
}

.ui.grid > .row > .column.image-column {
    padding: 0px;
}

.recipe-name {
    padding-top: 1px;
    font-family: To-Japan;
    font-size: 1.2rem;
    color: #254f69;
    display: inline-block;
    /*text-shadow: 1px 1px 1px #cf9e38;*/
}

.row.recipe-name-row {
    text-align: left;
}

.row.recipe-notes-row {
    text-align: left;
}

/* NOTE BUTTONS */

.recipe-notes {
    display: inline-block;
    width: auto;
}

.ui.button.ingredient-button {
    padding: 5px;
    /* box-shadow: 1px 1px 1px #ffffff; */
    background: #ffb478;
    color: white;
}

.ui.button.ingredient-button:hover {
    background: #ffb478;
    cursor: default;
}

/*UTIL BUTTONS*/

.ui.button.util-button {
    padding: 8px;
    height: 100%;
    border-radius: 0px;
    margin: 0;
    font-family: To-japan;
    font-weight: normal;
    margin-right: 3px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #bfbfbf;
}












a.back-link {
    font-size: 1.3rem;
}

.row.servesrow {
	margin-bottom: 10px;
}

.recipename {
	margin-bottom: 3px;
	font-size: 40px;
}

.recipedescription {
	margin-top: 0px;
    color: #545454;
    font-family: Techna;
    font-weight: normal;
    margin-bottom: 24px;
    text-align: left;
}

.ui.stackable.left.aligned.grid.title.grid {
    margin-right: 0px;
    margin-left: 0.1rem;
}

.resultsegment {

}

.ui.segment.resultsegment {
    border-top: 10px solid rgba(34, 36, 38, 0.15);
    padding-top: 5px;
    background: #f6f6f6;
    margin-bottom: 50px;
    border-radius: 20px;
}

.ingredientquantity {
    display: inline;
    margin-right: 10px;
}

.ingredientunit {
    display: inline;
}

.ingredientname {
	display: inline;
}

.ui.header.contentsheader {
    font-size: 25px;
    font-family: Techna;
}

ul.ui.list li, .ui.bulleted.list .list > .item, .ui.bulleted.list > .item {
	font-size: 15px;
}

ul.ui.list li, ol.ui.list li, .ui.list > .item, .ui.list .list > .item {
	font-size: 15px;
}

.ui.grid > .row > .column.servesdiv {
	padding: 0px;
}

.ui.grid > .row > .column.servesdiv h3{
	font-family: Techna;
}

.ui.mini.button.amount {
    font-size: 20px;
    padding: 3px;
    width: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.resultcontentright {
	border-left: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.image.galleryimage {
	/*border-radius: 20px;*/
}

.ingredientlistcolumn {
	padding-left: 1rem;
}

.ui.comments {
    text-align: left;
}

#noresultsdiv {
    background-image: url(/images/tile02.png);
    background-size: 10px;
}

#noresultsdiv h1 {
    font-family: To-japan;
    font-size: 19px;
    font-weight: normal;
}

#indexlink {
    font-family: To-japan;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 20px;
}
