/*RESULTS CONTAINER STYLES*/

.ui.grid.content-grid {
    background: white;
    height: 100%;
    margin: 0px;
    align-content: baseline;
}

.ui.grid.result-content-grid {
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    /*background: white;*/
    padding: 0px 24px;
/*    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;*/
    margin-bottom: 0em;
    box-sizing: border-box;
    padding: 0px 24px;
}

.ui.grid .column.info-column {
    padding-left: 0px;
}

.ui.grid .row.result-row {
    margin-top: 8px;
}

.ui.grid .row.summary-row {
    padding: 8px;
}

.ui.grid .row.filter-row {
    padding: 4px;
}

/*Search bar styles*/

#results-container {
    /* position: absolute; */
    z-index: 1;
    /* margin-top: 16px; */
    /* margin-bottom: 100px; */
    width: 100%;
    display: inline-block;
    padding-top: 10px;
}

/*Results page styles*/

.column .ui.dropdown {
    padding: 8px 16px;
}

.ui.grid .row + .ui.divider.header-divider {
    margin-top: 0px;
}

.ui.grid .row + .ui.divider.result-divider {
    margin: 8px 0px;
}

.ui.grid .column.image-column img {
    border-radius: 8px;
}

.ui.header.found-header {
    font-family: To-japan;
}

.ui.header.number-found-header {
    font-family: To-japan;
    color: #ff6666;
    font-weight: normal;
}

.ui.grid .row.results-found-row {
    margin-top: 100px;
    padding-bottom: 4px;
}

.ui.grid .row.results-number-row {
    padding-top: 0px;
}

.ui.grid .row.recipe-notes-row {
    padding-bottom: 8px;
}

.recipe-name {
    font-family: To-japan;
    font-weight: normal;
    font-size: 1.3rem;
    padding: 8px 4px;
    color: black;
}

.recipe-time p {
    display: inline-block;
    font-family: Lato-Bold;
}

.ui.button.ingredient-tag-button {
    padding: 8px;
    background: #ffb478;
    margin: 0px 4px;
    font-family: To-japan;
    font-weight: normal;
    font-size: 0.8rem;
}

.ui.button.recipe-note-button {
    padding: 8px;
    margin: 0px 4px;
    font-family: Lato-bold;
    font-size: 0.9rem;
    font-weight: normal;
}