
/*Results page*/

a {
    width: 100%;
}

#main-body-row {
    padding-top: 0px;
}

#results-main-logo {
	font-family: To-japan;
	font-size: 1.7rem;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 1px #97c8ff;
    margin-bottom: 8px;
    padding-top: 50px;
}

#number-found-header {
	color: #ff5a5a;
	margin-top: 0px;
    font-size: 1.2rem;
    font-family: To-japan;
    text-align: center;
    font-weight: normal;
}

#num-results {
    /*color: #f64545;*/
}

/* Result containers */

.ui.grid > .row.result-row {
    /*background: #ffffff94;*/
    margin-top: 15px;
    padding: 0px;
    border-radius: 5px;
}

.ui.grid > .row.summary-row {
    background: #ffffff94;;
    transition: 0.3s all;
    padding: 0px;
}

.ui.grid > .row.summary-row:hover {
    background: #ffffffe6;
    box-shadow: 1px 1px 1px #add7e5;
}

.ui.grid.result-grid {
    margin: 0;
    width: 100%;
}


/* Result styles */

.recipe-time p {
    display: inline;
    font-family: Lato-bold;
}

.recipe-name {
    padding-top: 1px;
    font-family: To-Japan;
    font-size: 1.2rem;
    color: #254f69;
    display: inline-block;
    /*text-shadow: 1px 1px 1px #cf9e38;*/
}

.row.recipe-name-row {
    text-align: left;
}

.row.recipe-notes-row {
    text-align: left;
}

/* NOTE BUTTONS */

.recipe-notes {
    display: inline-block;
    width: auto;
}

.ui.button.ingredient-button {
    padding: 7px;
    background: #cdcdcd;
    /* margin: 0px 5px; */
    /* margin-bottom: 15px; */
    font-family: To-japan;
    font-weight: normal;
}

.ui.button.ingredient-button:hover {
    background: #cdcdcd;
    cursor: default;
}
