@font-face {
    font-family: 'Starborn';
    src: url('/fonts/Starborn.ttf') format('truetype');
}

@font-face {
    font-family: 'To-japan';
    src: url('/fonts/To Japan.ttf') format('truetype');
}

@font-face {
    font-family: 'Timoteo';
    src: url('/fonts/Timoteo.ttf') format('truetype');
}

@font-face {
    font-family: 'Swallow Falls';
    src: url('/fonts/Swallow Falls.ttf') format('truetype');
}

@font-face {
    font-family: 'German Beauty';
    src: url('/fonts/German Beauty.ttf') format('truetype');
}


.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('/images/tile01.jpg');
}

.Site-content {
  flex: 1;
}

/* Index page*/

#mainlogo {
	font-family: Starborn;
    font-size: 90px;
    margin-top: 250px;
    text-shadow: 4px 4px 1px white;
    height: 100px;
    position: relative;
}

.ingredientMatch {
	width: 200px;
	height: 50px;
	border: 2px solid black;
	display: block;
}

#mainheader {
	margin-bottom: 80px;
}

h2.ui.header {
	font-size: 32px;
}

h3.ui.header {
    margin-bottom: 0px;
}

#maincolumn {
    text-align: center;
}

#searchcontainer {
	position: relative;
	z-index: 2;
}

#searchfield {
	border-radius: 20px 0px 0px 20px;
	font-family: 'To-japan';
    font-size: 15px;
}

#searchform {
	display: inline;
}

#resultscontainer {
	position: relative;
	z-index: 1;
    margin-top: 16px;
}

#mainsearchinput {
	margin-top: 10px;
	width: 30%;
}

#results {
	width: 30%;
    margin: 0 auto;
	position: absolute;
    top: 65px;
    left: 35%;
    background: white;
    opacity: 0.8;
}

#tagslist {
	width: 50%;
	margin: 0 auto;
	padding: 0px;
}

#taginput {
	display: none;
}

#submitbutton {
    margin-left: 0px;
	border-radius: 0px 20px 20px 0px;
	font-family: 'To-japan';
    font-size: 15px;
    font-weight: 100;
}

.tagbutton.ui.button {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

.indextitleicon {
	position: absolute;
	height: 140px;
	width: 80px;
	/*border: 1px solid black;*/
	background-repeat: no-repeat;
}


#titletext {
	position: relative;
    display: inline;
}

#titletext div:nth-child(1) {
	background-image: url(/images/Pan.png);
    top: -50px;
    left: -70px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

#titletext div:nth-child(2) {
	background-image: url(/images/Apple.png);
    top: -100px;
    left: 70px;
/*    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);*/
}

#titletext div:nth-child(3) {
	background-image: url(/images/Carrot.png);
	top: -150px;
    left: 180px;
    -webkit-transform: rotate(220deg);
    -moz-transform: rotate(220deg);
    -o-transform: rotate(220deg);
    -ms-transform: rotate(220deg);
    transform: rotate(220deg);
}

#titletext div:nth-child(4) {
	background-image: url(/images/Knife.png);
    top: -140px;
    left: 330px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

#titletext div:nth-child(5) {
	background-image: url(/images/Pan.png);
    top: -120px;
    left: 460px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

#titletext div:nth-child(6) {
	background-image: url(/images/Apple.png);
    top: -90px;
    left: 590px;
/*    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);*/
}

#titletext div:nth-child(7) {
	background-image: url(/images/Carrot.png);
	top: -40px;
    left: 700px;
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}


/* Footer content */


.Footer-content {
	height: 65px;
    background-color: #ffec91;
    border-top: 5px solid #fffde2;
    text-align: center;
	background-image: url(/images/tile02.png);
    background-size: 0.7%;
}

.ui.header.footer:hover {
	background: white;
}

.indexfooterdiv {
    display: inline-block;
    width: 250px;
    height: 100%;
}

.indexfooterdiv .ui.button {
	margin-top: 10px;
    border-radius: 20px;
    background-color: #ff9d24;
    color: white;
    font-family: To-japan;
    font-weight: normal;
    text-shadow: 1px 1px 1px #9a7625;
	box-shadow: 4px 4px 1px white;
}

.indexfooterdiv .ui.button:hover {
	background-color: #ffb254;
}

.indexfooterdiv:nth-child(1) {
	text-align: right;
}

.indexfooterdiv:nth-child(3) {
	text-align: left;
}

/*Results page*/

.recipename {
	margin-bottom: 3px;
	font-size: 40px;
}

.recipedescription {
	margin-top: 0px;
	color: grey;
}

.resultsegment {

}

.ui.segment.resultsegment {
    border-top: 10px solid rgba(34, 36, 38, 0.15);
    padding-top: 5px;
    background: #f6f6f6;
    margin-bottom: 50px;
    border-radius: 20px;
}

.ingredientquantity {
    display: inline;
    margin-right: 10px;
}

.ingredientunit {
    display: inline;
}

.ingredientname {
	display: inline;
}

.ui.header.contentsheader {
    font-size: 25px;
}

ul.ui.list li, .ui.bulleted.list .list > .item, .ui.bulleted.list > .item {
	font-size: 15px;
}

ul.ui.list li, ol.ui.list li, .ui.list > .item, .ui.list .list > .item {
	font-size: 15px;
}

.ui.mini.button.amount {
    font-size: 20px;
    padding: 3px;
    width: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.ui.grid > .row {
	padding-bottom: 0px;
}

.resultcontentright {
	border-left: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.image.galleryimage {
	border-radius: 20px;
}

.ingredientlistcolumn {
	padding-left: 1rem;
}