

@font-face {
    font-family: 'Starborn';
    src: url('/fonts/Starborn.ttf') format('truetype');
}

@font-face {
    font-family: 'To-japan';
    src: url('/fonts/To Japan.ttf') format('truetype');
}

@font-face {
    font-family: 'Timoteo';
    src: url('/fonts/Timoteo.ttf') format('truetype');
}

@font-face {
    font-family: 'Swallow Falls';
    src: url('/fonts/Swallow Falls.ttf') format('truetype');
}

@font-face {
    font-family: 'German Beauty';
    src: url('/fonts/German Beauty.ttf') format('truetype');
}

@font-face {
    font-family: 'Techna';
    src: url('/fonts/TechnaSans-Regular.otf') format('opentype');
}


.Site {
  	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
  	background-image: url('/images/tile01.jpg');
	background-size: 10%;
}

.Site-content {
  flex: 1;
}

.ui.grid {
	margin: 0;
}

/* Index page*/

#mainlogo {
	margin: 0 auto;
    margin-top: 200px;
    background-repeat: no-repeat;
    display: block;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.ingredientMatch {
	width: 200px;
	height: 50px;
	border: 2px solid black;
	display: block;
}

#mainheader {
	margin-bottom: 80px;
}

h2.ui.header {
	font-size: 32px;
}

h3.ui.header {
    margin-bottom: 0px;
}

#maincolumn {
    text-align: center;
}

#searchcontainer {
	position: relative;
	z-index: 2;
}

#searchfield {
	border-radius: 20px 0px 0px 20px;
	font-family: 'To-japan';
    font-size: 1vw;
}

#searchform {
	display: inline;
}

#resultscontainer {
	position: relative;
	z-index: 1;
    margin-top: 16px;
    margin-bottom: 100px;
}

#mainsearchinput {
	margin-top: 10px;
	width: 30%;
}

#results {
	width: 30%;
    margin: 0 auto;
	position: absolute;
    top: 65px;
    left: 35%;
    background: white;
    opacity: 0.8;
    z-index: 2;
}

#tagslist {
	width: 50%;
	margin: 0 auto;
	padding: 0px;
}

#taginput {
	display: none;
}

#submitbutton {
    margin-left: 0px;
	border-radius: 0px 20px 20px 0px;
	font-family: 'To-japan';
    font-size: 1vw;
    font-weight: 100;
}

.tagbutton.ui.button {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

/* Footer content */


.Footer-content {
    background-color: #ffec91;
    border-top: 5px solid #fffde2;
    text-align: center;
	background-image: url(/images/tile02.png);
    background-size: 0.7%;
}

.ui.header.footer:hover {
	background: white;
}

.indexfooterdiv {
    display: inline-block;
    width: 250px;
    margin-bottom: 15px;
}

.indexfooterdiv .ui.button {
	margin-top: 10px;
    border-radius: 20px;
    background-color: #ff9d24;
    color: white;
    font-family: To-japan;
    font-weight: normal;
    text-shadow: 1px 1px 1px #9a7625;
	box-shadow: 4px 4px 1px white;
}

.indexfooterdiv .ui.button:hover {
	background-color: #ffb254;
}

/*Results page*/

#resultsmainlogo {
	padding-top: 150px;
	font-family: Starborn;
	font-size: 40px;
    text-shadow: 3px 3px 1px white;
}

#numberfoundheader {
	color: #ff5a5a;
	margin-top: 0px;
    font-size: 20px;
    font-family: To-japan;
    text-align: center;
    text-shadow: 2px 2px 1px white;
}

#numresults {
    /*color: #f64545;*/
}

.ui.accordion {
    background: white;
    border-radius: 25px;
    margin-bottom: 50px;
    border: 4px solid #fffde2;
    overflow: hidden;
    background-color: #fff2c4;
    font-family: Techna;
}

.ui.accordion:not(.styled) .title ~ .content:not(.ui), .ui.accordion:not(.styled) .accordion .title ~ .content:not(.ui) {
	padding: 20px;
	border-top: 2px solid #ff9930b0;
	border-bottom: 2px solid #ff9930b0;
}

.ui.accordion .title:not(.ui) {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: To-japan;
    text-align: left;
    font-size: 19px;
    background-image: url(/images/tile02.png);
    background-size: 10px;
}

.recipename {
	margin-bottom: 3px;
	font-size: 40px;
}

.recipedescription {
	margin-top: 0px;
    color: #545454;
    font-family: Techna;
    font-weight: normal;
    margin-bottom: 24px;
    text-align: left;
}

.resultsegment {

}

.ui.segment.resultsegment {
    border-top: 10px solid rgba(34, 36, 38, 0.15);
    padding-top: 5px;
    background: #f6f6f6;
    margin-bottom: 50px;
    border-radius: 20px;
}

.ingredientquantity {
    display: inline;
    margin-right: 10px;
}

.ingredientunit {
    display: inline;
}

.ingredientname {
	display: inline;
}

.ui.header.contentsheader {
    font-size: 25px;
    font-family: Techna;
}

ul.ui.list li, .ui.bulleted.list .list > .item, .ui.bulleted.list > .item {
	font-size: 15px;
}

ul.ui.list li, ol.ui.list li, .ui.list > .item, .ui.list .list > .item {
	font-size: 15px;
}

.ui.grid > .row > .column.servesdiv {
	padding: 0px;
}

.ui.grid > .row > .column.servesdiv h3{
	font-family: Techna;
}

.ui.mini.button.amount {
    font-size: 20px;
    padding: 3px;
    width: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.ui.grid > .row {
	padding-bottom: 0px;
}

.resultcontentright {
	border-left: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.image.galleryimage {
	border-radius: 20px;
}

.ingredientlistcolumn {
	padding-left: 1rem;
}

.ui.comments {
    margin: 0 auto;
    text-align: left;
}

#noresultsdiv {
    background-image: url(/images/tile02.png);
    background-size: 10px;
}

#noresultsdiv h1 {
    font-family: To-japan;
    font-size: 19px;
    font-weight: normal;
}

#noresultsdiv a {
	font-family: To-japan;
}

/*
				Mobile			Tablet			Small Monitor		Large Monitor
Device Width	below 768px		768px - 991px	992px - 1200px		above 1200px
*/

@media only screen and (max-width: 991px) {
	#searchfield, #submitbutton {
		font-size: 1.2vw;
	}
}


/*MOBILE STYLES*/
@media only screen and (max-width: 480px) {
	#searchfield, #submitbutton {
	    font-size: 4vw;
	    margin: 0 auto;
	    border-radius: 20px;
	    display: block;
	}

	#mainsearchinput {
	    margin-top: 10px;
	    width: 80%;
	    margin-bottom: 10px;		
	}

	#results {
		width: 80%;
		left: 10%;
	}

	#tagslist {
		width: 80%;
	}

	.tagbutton.ui.button {
		font-size: 10px;
	}

	.indexfooterdiv {
		display: inline;
    	margin: 0px 5px;
	}

	.indexfooterdiv .ui.button {
	    font-size: 2vw;
	    padding: 4px 5px;
	    border-radius: 10px;
	}

	.Footer-content {
    	height: 50px;
	}
}